.header {
    margin-top: 12px;
    font-size: 100px;
    margin-bottom: 0;
    font-weight: 500;
    color: white;
    background: rgb(95, 95, 95);
    
  }
  h2{
    background: rgb(125, 168, 248);
    color:rgb(141, 132, 132);
  }
  
img {
    max-width: 892px;
    padding: 3px;
    border: 4px solid black;
  }
  .image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

}
  button:hover {
    color:rgb(0, 195, 255);
  }
  .submit:hover {
    color: rgb(0, 195, 255);
  }
  .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; 
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
 }
 footer {
  background: rgb(95, 95, 95);
  margin-bottom: 0;
  height: 15px;
  color: rgb(35, 20, 172);
  padding-bottom: 40px;
  padding-top: 15px;
  margin-top: 30px;
}
h2 {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 5px;
  line-height: 50px;
  font-family: 'Playfair Display', serif;

}
/* items */
li {
  display:flex;
  height:500px;
  width: 300px;
  margin: 20px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row; 
  justify-content:space-between;
}

.nav {
  color: white;
}
.indexImg:hover {
  border: 2px solid rgb(20, 220, 87);
}
a:hover {
  color: rgb(214, 64, 64);
}
a {
  text-decoration: none;
  color: black;
}
#new{

  height:100vh;
  justify-content: center;
  align-items:center;
  padding:10px;
  background: linear-gradient(135deg,#71b7e6,#9b59b6)

}