.header {
    margin-top: 12px;
    font-size: 100px;
    margin-bottom: 0;
    font-weight: 500;
    color: white;
    
  }
  
img {
    max-width: 292px;
    padding: 3px;
    border: 4px solid black;
  }
  .image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

}
  button:hover {
    color:rgb(0, 195, 255);
  }
  .submit:hover {
    color: rgb(0, 195, 255);
  }
  .flexcontainer {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    justify-content: center;
 }
 footer {
  background: rgb(17, 2, 104);
  margin-bottom: 0;
  height: 25px;
  color: rgb(35, 20, 172);
  padding-bottom: 40px;
  padding-top: 15px;
  margin-top: 30px;
}
