.header {
    margin-top: 12px;
    font-size: 100px;
    margin-bottom: 0;
    font-weight: 500;
    color: white;
    
  }
  
img {
    max-width: 292px;
    padding: 3px;
    border: 4px solid black;
  }
  button:hover {
    color:rgb(0, 195, 255);
  }
  .submit:hover {
    color:rgb(0, 195, 255);
  }
  .flexcontainer {
    display: flex;
    display: -webkit-flex;
  
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    justify-content: center;
 }